body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAF9F6;
  color: #474543;
  font-size: 2rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border-style: solid;
  border-color: black;
  background-color: white;
  color: #474543;
  cursor: pointer;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.fadeIn {
text-align: center;
opacity: 0;
animation: fadeIn 1s ease-in-out forwards;
font-weight: 500;
width: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1;
  }
}

input {
  width: 80%;
  height: 2rem;
  font-size: 1.2rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  text-align: center;
  font-weight: bold;
}

.radioButtons {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-evenly;
}

.summaryList {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
}

h1 {
  font-family: Garamond;
  margin-top: 0;
  padding: 1rem;
  border-bottom-style: solid;
  border-bottom-color: black;
}

form {
  margin: 1rem;
}