/* body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAF9F6;
  color: #474543;
  font-size: 2rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0;
} */

/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border-style: solid;
  border-color: black;
  background-color: white;
  color: #474543;
  cursor: pointer;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.2rem;
}



input {
  width: 80%;
  height: 2rem;
  font-size: 1.2rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  text-align: center;
  font-weight: bold;
}

.radioButtons {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-evenly;
}

.summaryList {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
}

form, .introText {
  margin: 1rem;
}
*/
/* 
.body {
  font-family: Georgia;
}

.menuLine {
  width: 50px;
  height: 8px;
  background-color: black;
  margin: 10px 0;
} 

.menuIcon {
  margin: 0;
  display: inline-block;
}

h1 {
  display: inline-block;
  margin: 0;
  font-size: 24pt;
}

.headerContent {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  flex: 1;
  text-align: center;
} */

/* 
.menuIcon, h1 {
  position: absolute;
  top: 25%;
}

.menuIcon {
  left: 2.5%;
} */

/* body {
  font-size: 16px;
} */

h1 {
  font-size: 1.5rem;
  text-align: center;
}

.welcomeMessage {
  font-size: 3rem;
  text-align: center;
  margin: 0;
}

body {
  background-color: #fffaf1; 
  font-family: 'PT Serif';
}

.App {
  min-height: 100vh;
}

header {
  margin-top: 50px;
}

.bookImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.introBox {
  width: 75vw;
  height: 20vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(241, 246, 255, 0.7);
  align-self: center;
  border-radius: 10px;
  border-style: solid;
  border-color: white;
}

.introText {
  max-width: 65%;
  font-size: 1.06;
  font-weight: bold;
}

.boxContainer {
  display: flex;
  justify-content: center;
}

.bookStackImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselDots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  height: 0.5rem;
  width: 0.5rem;
  border-style: solid;
  border-color: black;
  border-radius: 50%;
  margin: 0.5rem;
}

footer {
  position: absolute;
  bottom: 0;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

button {
  background: none;
  border-style: solid;
  border-width: 0.2rem;
  border-color: black;
  background-color:none;
  margin-bottom: 1rem;
  padding: 1rem;
  font-family: 'PT Serif', 'serif';
  font-weight: 700;
  font-size: 1.06rem;
  border-radius: 7.5%;
}

.leftArrow, .rightArrow {
  cursor: pointer;
}

.fadeIn {
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  font-weight: 500;
  width: 100%;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0
    }
    100% {
      opacity: 1;
    }
  }

  .formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .formText {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 75vw;
    font-size: 1.06rem;
  }

  .inputContainer {
    display: flex;
    justify-content: center;
  }

  input {
    width: 75vw;
    height: 10vw;
    text-align: center;
    font-size: 1.06rem;
  }

  .radioButtons {
    display: flex;
    justify-content: space-around;
  }

  .radioButton {
    width: 30vw;
    height: 30vw;
    border: solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
    background-color: rgba(241, 246, 255, 0.7);
  }
  
  #dailyTarget, #endDate {
    appearance: none;
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  .radioLabel, .radioLabel {
    margin: 20px;
  
  }

  .dateInput {
    font-family: 'PT Serif';
  }

  .summaryContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .summaryRow {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    margin-bottom: 2rem;
  }

  .summaryBox {
    border: solid white;
    width: 35vw;
    height: 35vw;
    font-size: 1.06rem;
    text-align: center;
    align-items: center;
    position: relative;
    background-color: rgba(241, 246, 255, 0.7);
    border-radius: 10px;
  }

  h3 {
    margin: 0;
  }

  .editButton {
    position: absolute;
    bottom: 5%;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    text-decoration: underline;
  }


/* 
  .radioButton {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .radioButton input[type] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 4px;
    margin-right: 10px;
  }

  .radioButton label {
    font-size: 16px;
    cursor: pointer;
  }

  .radioButton input {
    background-color: #333;
    border-color: #333;
  } */