body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: blue;
  color: white;
  font-size: 2rem;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border-style: solid;
  border-color: white;
  background-color: blue;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.fadeIn {
color: white;
margin: 3rem 5rem 0rem 5rem;
text-align: center;
opacity: 0;
animation: fadeIn 1s ease-in-out forwards;
font-weight: 500;
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1;
  }
}

input {
  width: 20rem;
  height: 2rem;
  font-size: 1.2rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  text-align: center;
  font-weight: bold;
}

.radioButtons {
  text-align: center;
  display: flex;
  margin-bottom: 2rem;
  justify-content: center;
}

.summaryList {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
}